
            <h3>Login Page</h3>
            
            <form ng-submit="formSubmit()" class="form">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="username" placeholder="username" required/>
                  
                <div class="form-group">
                  <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
                </div>
      
                <div class="form-group">
                  <button type="submit" class="btn btn-success">Login</button>
                  <span ng-show="loginError" class="text-danger">An error occured</span>
                </div>
                </div>
              </div>
            </form>
         